
@media screen and (min-width: 360px) and (max-width: 770px) { 
    
    #intro #hey{
        font-size: 17vw;
        display: block;
    }

    #menu{
        display: none;
    }

    #intro #im{
       font-size:12vw; 
    }

    #intro #dev{
        font-size: 12vw;
    }

    .info{
        display: grid;
        grid-template-columns: auto auto ;
    }
    
    .page1{
        height: 100vh;
    }

    .page2{
        height: 105vh;
        border-top: none;
    }

    .page2 h1{
        font-size: 16vw;
    }
    
    .msg{
        display: none;
    }

    nav i{
        font-size: 4vw;
    }

    .full-nav{
        width: 50%;
        right: -50%;
    }

    .quote-page{
       display: none;
    }

    .page3 h1{
        font-size: 60vw;
    }

    .cards{
        display: grid;
        grid-template-columns: auto auto auto ;
        gap: 20px;
        left: 0;
    }

    .card p{
        text-align:left;
        font-size: 12px;
    }
  
    .card:nth-child(1),.card:nth-child(2),.card:nth-child(3),
    .card:nth-child(4),.card:nth-child(5),.card:nth-child(6){
        left: 0;
        width: 28vw;
        height: 28vh;
    }

    .skill{
        height: 30vh;
        width: 12vw;
    }

    .card button{
        padding: 6px 20px;
    }

    .page3 {
        display: none;
    }

    #scroll-down {
        display: none;
    }

    .full-nav{
        display: none;
    }
    
    #cursor{
        display: none;
    }
       
    .swiper-slide img{
        height: 55vh;
        width: 75vw;
        filter: none;
        border-radius: 5px;
    }

    .swiper-slide h1{
        font-size: 11vw;
        margin-bottom: 6vh;
        text-align: center;
    }

    .swiper-slide{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #next,#prev{
        position: absolute;
        top: 45%;
        opacity: 0.2;
    }
}


@media (max-width:499px) {

    
    #intro #hey{
        font-size: 17vw;
        display: block;
    }

    #intro #im{
       font-size:13vw; 
    }

    #intro #dev{
        font-size: 16vw;
    }

    .schooling,.college{
        display: none;
    }

    .info{
        grid-template-columns: auto;
    }

    .cards{
       grid-template-columns: auto auto;
    }

    .card:nth-child(1),.card:nth-child(2),.card:nth-child(3),
    .card:nth-child(4),.card:nth-child(5),.card:nth-child(6){
        left: 0;
        width: 40vw;
        height: 25vh;
    }

    #skill-logo{
        font-size: 18vw;
    }

    .card button{
        padding: 4px 13px;
    }

    .card p{
        font-size: 10px;
    }
  
    #scroll-down {
        display: block;
        font-size: 6vw;
        opacity: 0.2;
        left: 48%;
        bottom: 7%;
    }

    #next,#prev{
        position: absolute;
        top: 38%;
    }  

    #next{
        right: 0%;
    }

    #prev{
       left: 0%;
    }

    .connect{
        height: 14vh;
    }
}

@media (max-width:361px) {

    #next,#prev{
        position: absolute;
        top: 40%;
    }  

    #next{
        right: 2%;
    }

    #prev{
       left: 2%;
    }

    .card button{
        padding: 2px 10px;
    }

    .connect{
        height: 13vh;
    }

    footer{
        height: 68vh;
    }
}
