<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About-me</title>
    <link rel="stylesheet" href="./about.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.2.0/remixicon.css" integrity="sha512-OQDNdI5rpnZ0BRhhJc+btbbtnxaj+LdQFeh0V9/igiEPDiWE2fG+ZsXl0JEH+bjXKPJ3zcXqNyP4/F/NegVdZg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>
    <div class="main">
        <div class="about-page">
            <div class="section1">
              
                <div class="about">
                    <h1>About me</h1>
                    <p>As a passionate front-end developer, I bring creativity and technical precision to every project.
                        With a strong foundation in HTML, CSS, and JavaScript, I specialize in crafting responsive,
                         user-friendly interfaces that provide seamless user experiences.
                          My expertise extends to modern frameworks like React, ensuring high performance and scalability.
                           I thrive in dynamic environments, continuously learning and adapting to new technologies.
                        My portfolio showcases a range of projects, from sleek landing pages to complex web applications, highlighting my commitment to clean code and innovative design.
                        </p>
                </div>


                    <div class="images1">
                        <div class="img-box1">
                            <img src="../assets/img1.jpg" alt="">
                             <video  autoplay loop muted src="../assets/1814645319145867416.mp4"></video>
                        </div>


                        <div class="content1">
                           <h3>Kushagra Gond</h3>
                           <p>From Siddharthnagar <br>
                           Currently Pursuing BCA from SRMU Lucknow.</p>
                           
                           <a href="../assets/Kushagra_Gond_cv_7714.pdf"  download class="download-btn">Download</a>

                        </div>
                       
                    </div>
            </div>
            <div class="section2">
                    <div class="content2">
                        <h3>Languages Known</h3>
                        <button>HTML</button><button>CSS</button>
                        <br>
                        <button>JAVASCRIPT</button>
                        <br>
                        <button>JAVA</button>
                        <button>C</button><button>PHP</button>
                    </div>
              
                   

                    <div class="content3">
                        <h3>Tools,<br>Framework 
                            & libraries</h3>
                        <button>REACT JS</button><button>NODEJS</button><button>EXPRESS JS</button>
                        <button>TAILWIND</button><button>MONGO DB</button><button>GITHUB</button>
                    </div>   
            </div>
      
            <div class="section3">
                <div class="img-box2">
                    <img src="../assets/img1.jpg" alt="">
                </div>
            </div>
        </div>
    </div>  
</body>
</html>